# serve ad elencare tutte le dipendenze Python necessarie per far funzionare il progetto.
fastapi           
uvicorn            
sqlalchemy        
psycopg2-binary   
pydantic           
python-dotenv     